@{
    ViewData["Title"] = "Início";
}

<div class="text-center">
    <h1 class="display-4">Salve!!</h1>
    <p>Aprende mais ai, cara :)  <a href="https://docs.microsoft.com/aspnet/core">clica aqui que eu te levo pro tutorial</a>.</p>
</div>
